<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6 offset3">
   <h1>
     <%= gravatar_for @user %>
   </h1>
   <br>
   <p>
     <b>Email:</b>
     <%= @user.email %>
   </p><br>

   <div class="form-actions">
     <%#= link_to 'Manage Advert', product_path(:param1 => @user.id), :class => 'btn btn-mini' %>
   </div>

  </div>
</div>


<%#= link_to 'Edit', edit_user_path(@user) %> <%#|%>
<%#= link_to 'Back', users_path %>
